<section id="centuriesToWin">
	<section class="row">
		<section class="col-xs-6">
			<article id="graph7" class="col-xs-12 col-sm-10 col-md-10"></article>
		</section>
		<section class="col-xs-6">
		<article>
			<article class="description row">
				<b>It was often said about Tendulkar that his big scores didn't lead to team wins, but stats reveal something quite different: Tendulkar scored 33 of his 49 centuries in wins.</b>
			</article>
		</article>
	</section>
	</section>
	<section class="row">
		<article class="quote row">
			"Gentlemen, he is the best batsman I have seen in my life. And unlike most of you, I have seen Bradman bat."- Jon Woodcook
		</article>
	</section>
	
	
	
</section>