<section id="odiPlayerComparison">
	<section class="row">
		<section class="col-xs-6">
		<section class="row">
			<article id="graph1" class="col-xs-12 col-sm-10 col-md-10"></article>
		</section>
		<section class="row">
			<article id="graph2" class="col-xs-12 col-sm-10 col-md-10"></article>
		</section>	
	</section>
	<section class="col-xs-6 row">
		<article class="description">
			<h2 class="stats">Total Runs: 18426</h2>
			<h2 class="stats">Total ODI matches: 463</h2>
			<h2 class="stats">Total ODI wickets: 154</h2>
			<article>
				<b>He did top the ICC batting rating table on five occasions during his career, and a 16-year gap between his first (1994) and last (2010) appearance at the top of the rankings again shows how consistently he performed at a high level over a prolonged period.</b>
			</article>
		</article>
	</section>
	</section>
	
	<section class="row">
		<article class="quote row">
				"There are two kinds of batsmen in the world. One, Sachin Tendulkar. Two, all the others." - Andy Flower
		</article>
	</section>	
</section>