<section id="openerComparison">
	<section class="row">
		<section class="col-xs-6">
			<section class="row">
				<article id="graph4" class="col-xs-12 col-sm-10 col-md-10"></article>
			</section>
			<section class="row">
				<article id="graph5" class="col-xs-12 col-sm-10 col-md-10"></article>
			</section>
			<section class="row">
				<article id="graph6" class="col-xs-12 col-sm-10 col-md-10"></article>
			</section>
		</section>
		<section class="col-xs-6">
			<article class="description">
				<article class="row">
					<b>Tendulkar's average is the highest</b>
				</article>
				<article class="row">
					<b>Tendulkar's conversion ratio of fifties into hundreds is lowest, which means he utilised the opportunity to make big scores better than most other openers.</b>
				</article>
			</article>
			
		</section>
	</section>
	<section class="row">
		<article class="quote row">
			"When you play against Tendulkar, you almost want to see him get a few runs just to see him bat."- Mark Waugh
		</article>
	</section>
	
	
</section>