<section id="worldcupComparison">
	<section class="row">
		<article id="graph3" class="col-xs-12 col-sm-5 col-md-5"></article>
		<article class="description col-xs-12 col-sm-5 col-md-5" style="float:right;">
			<article class="row">
				<b>In the biggest tournament in the ODI format- World cup, Tendulkar was usually at his best. His overall World Cup tally of 2278 is the best</b>
			</article>
			<article class="row">
				<b>Man-of-the-Match awards- 9 (maximum)</b>
			</article>	
		</article>
	</section>
	<section class="row">
		<article class="quote row">
			"I have seen God. He bats for India at number 4 in Tests"- Matthew Hayden
		</article>
	</section>
	
	
</section>